<% provide(:title, "Questions") %>

<div class="table-responsive">
  <table class="table">
    <thead>
      <th scope="col">Author</th>
      <th scope="col">Status</th>
      <th scope="col">Text</th>
      <th scope="col">Article</th>
      <th scope="col">Replies</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </thead>
    <tbody>
      <%= render comments %>
    </tbody>
  </table>
</div>
