<p>Hi <%= @user.name %>,</p>

<p>Just sending a friendly reminder that you need
<%= pluralize(@user.num_articles_needed_for_raffle, "more blogs") %>
until you are eligible for the monthly raffle.</p>
<p><%= link_to "Post another blog", new_article_url %></p>

<p>Best wishes,<br>
The Project First-Gen Team</p>
