<% provide(:title, "New Question") %>
<h2>Ask a Question</h2>
<p>This page does nothing so far because I don't have any good ideas for how to set it up. I should ask Nidia what she envisions for it.</p>
