<% provide(:title, "New Question") %>
<% provide(:heading, "Ask a Question") %>
<p>This page does nothing so far because I don't have any good ideas for how to set it up. I should ask Nidia what she envisions for it.</p>
