<% provide(:title, "Blogs") %>

<div class="table-responsive">
  <table class="table">
    <thead>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col">Author</th>
      <th scope="col">Comments</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </thead>
    <tbody>
      <%= render articles %>
    </tbody>
  </table>
</div>
