<section class="article">
  <header>
    <h3><%= link_to article.title, article %></h3>
    <p>by <cite><%= article.author_name %></cite></p>
    <p>posted <%= local_time article.created_at, "%B %e, %Y" %></p>
  </header>
  <div class="truncate lines-6">
    <% article.paragraphs.each do |text| %>
      <p><%= text %></p>
    <% end %>
  </div>
</section>
