<section class="article">
  <header>
    <h3><%= link_to article.title, article %></h3>
    <p>by <cite><%= article.author_name %></cite></p>
    <p>posted <%= local_date article.created_at %></p>
  </header>
  <% if article.pending? %>
    <div class="alert alert-warning">
      This blog is awaiting approval from an admin. It can only be seen by
      the author and admins.
    </div>
  <% end %>
  <div class="truncate lines-6">
    <% article.paragraphs.each do |text| %>
      <p><%= text %></p>
    <% end %>
  </div>
</section>
