<% provide(:title, "New Blog") %>
<h2>New blog</h2>
<%= semantic_form_for article do |f| %>
  <%= f.inputs :title, :text %>
  <%= f.actions do %>
    <%= f.action :submit, button_html: { class: "btn btn-primary" } %>
  <% end %>
<% end %>
