<% provide(:title, "Search Results") %>
<% provide(:heading) do %>
  Search results for <span class="text-muted"><%= params[:q] %></span>
<% end %>

<% if articles.exists? %>
  <%= paginate articles %>
  <%= render articles %>
  <%= paginate articles %>
<% else %>
  <p>No matching blogs found</p>
<% end %>
