<% provide(:heading, "About Project First-Gen") %>

<p>Project First-Gen is a project created by Stanford University doctoral student Nidia Ruedas-Gracia under the faculty mentorship of Dr. Teresa LaFromboise and in collaboration with Arkansas Tech University professor Dr. Jennifer Samson. Project First-Gen hopes to analyze the experiences of first-generation college students in undergraduate programs and also provide first-generation college students in undergraduate programs access to weekly online diaries written by graduate first-generation college students.</p>
<p>Current graduate students who are also first-generation will write weekly blogs on the Project First-Gen website about their experiences in college. Undergraduate students will be given access to the website and will visit the website on a weekly basis. Undergraduate students will then post questions on the website about the content on any of the blogs.</p>
<p>Remember that all blog posts, questions, and visits are anonymous to other participants (including the graduate student bloggers). All identifying information will be kept confidential by the principal investigator (Nidia Ruedas-Gracia) and will not be released to the public.</p>
<p>Lastly, participation in this study is completely voluntary. Your decision whether or not to participate will not affect your future relations with your current institution in any way. If you decide to participate, you are free to stop at any time without affecting these relationships.</p>
<p>Please contact the principal investigator at projectfirstgen@gmail.com or directly at nrgracia@stanford.edu if you have ANY questions, comments, or concerns.</p>
<p>Thank you for participating!</p>
<p>&#8211; Project First-Gen</p>
