<% provide(:title, "Resources") %>

<div class="row">
  <div class="col-md-10">
    <nav>
      <h3>Campus Services</h3>
      <ul class="resources">
        <li>
          <a href="http://www.atu.edu/studentsuccess/index.php">Office of Student Success</a>
          <p class="text-muted">helps you transition to college life and later to a career</p>
        </li>
        <li>
          <a href="http://www.atu.edu/sss/index.php">Student Support Services</a>
          <p class="text-muted">grant-funded, individualized program to help students who are first-generation, have limited-income, and/or have a disability</p>
        </li>
        <li><a href="http://www.atu.edu/b2e/index.php">Bridge to Excellence Program</a></li>
        <li><a href="http://www.atu.edu/tutoring/">Academic Tutoring Center</a></li>
        <li><a href="https://support.atu.edu/ics/support/default.asp?deptID=16101&amp;_referrer=http://www.atu.edu/">Computer Support</a></li>
        <li><a href="http://www.atu.edu/finaid/">Financial Aid Office</a></li>
        <li><a href="http://library.atu.edu/">Library</a></li>
        <li><a href="http://www.atu.edu/advising/">Academic Advising Center</a></li>
        <li>
          <a href="http://www.atu.edu/studentwellness/index.php">Student Wellness</a>
          <p class="text-muted">counseling services, disability services, health services</p>
        </li>
        <li><a href="http://www.atu.edu/reslife/">Residence Life</a></li>
        <li>
          <a href="http://www.atu.edu/registrar/">Registrar</a>
          <p class="text-muted">add/drop courses, transcipts, check progress towards graduation</p>
        </li>
        <li>
          <a href="http://www.atu.edu/stuaccts/">Student Accounts</a>
          <p class="text-muted">how much do I owe, where do I pay, etc.</p>
        </li>
        <li>
          <a href="http://www.atu.edu/psafe/index.php">Public Safety</a>
          <p class="text-muted">campus escort at night, accident in parking lot, laptop was stolen, car issues</p>
        </li>
      </ul>
    </nav>
    <nav>
      <h3>Quicklinks to Important Information</h3>
      <ul class="resources">
        <li><a href="http://www.atu.edu/academics/catalog/calendar.html">Academic calendar</a></li>
        <li><a href="http://www.atu.edu/map/docs/CampusMap.pdf">Campus Map</a></li>
        <li><a href="http://www.atu.edu/stuserv/studenthandbook.html">Student Handbook</a></li>
      </ul>
    </nav>
    <nav>
      <h3>General Services</h3>
      <ul class="resources">
        <li><a href="https://fafsa.ed.gov/">Free Application for Federal Student Aid</a></li>
      </ul>
    </nav>
  </div>
</div>
