<tr>
  <td><%= question.author_name %></td>
  <td class="lines-6 truncate">
    <% question.paragraphs.each do |text| %>
      <p><%= text %></p>
    <% end %>
  </td>
  <td><%= local_time question.created_at %></td>
</tr>
