<% provide(:title, "Control Questions") %>

<div class="table-responsive">
  <table class="table">
    <thead>
      <th scope="col">Author</th>
      <th scope="col">Text</th>
      <th scope="col">Date</th>
    </thead>
    <tbody>
      <%= render questions %>
    </tbody>
  </table>
</div>
