<section>
  <h3>Monthly Activity</h3>
  <% if current_user.current_comments.exists? %>
    <ul class="list-unstyled">
      <% current_user.current_comments.each do |comment| %>
        <li>
          <p class="text-muted">
            On <%= link_to comment.article_title, article_path(comment.article, anchor: "comment-#{comment.id}") %>
            at <%= local_time comment.created_at %>
          </p>
          <div class="lines-3 truncate">
            <%= simple_format comment.text %>
          </div>
        </li>
      <% end %>
    </ul>
    <% if current_user.comment_raffle_eligible? %>
      <p>
        You are eligible for our monthly raffle.
        <%= button_to "Enter raffle", raffle_entries_path, class: "btn-link" %>
      </p>
    <% end %>
  <% else %>
    <p>You have not asked any questions this month</p>
  <% end %>
</section>
