.article {
  cite {
    font-style: normal;
  }
  header,
  footer {
    margin-bottom: 12px;
    p {
      opacity: 0.8;
      margin-bottom: 0;
      display: inline;
      &:after {
        content: " \2022";
      }
      &:last-of-type:after {
        content: "";
      }
    }
  }
}
