.comment {
    border-bottom: 1px solid #999;
    margin-bottom: 7px;
    padding: 1px;
    &:last-child {
        border-bottom: 0;
    }
    header {
        font-size: 14px;
        opacity: 0.8;
        h4 {
            font-size: 14px;
        }
    }
}

.bold-row {
  font-weight: bold;
}
