body {
    background-color: #f1f1f1;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    line-height: 1.2em;
}

h1,
h2 {
    font-family: "Open Sans Condensed",sans-serif;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 15px;
    margin-bottom: 5px;
}

#site-header {
    position: relative;
}

#current-user {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
}

.page {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
}

#main-nav {
    position: relative;
}

.navbar-toggle {
    background-color: #27737f;
    margin-right: 0;
    &[aria-expanded="true"] {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .icon-bar {
        background-color: #fff;
    }
}

.nav-pills > li.active > a {
    background-color: #27737f;
    &:hover,
    &:focus,
    &:active {
        background-color: #27737f;
    }
}

.navbar-collapse.in {
    position: absolute;
    right: 0;
    top: 42px;
    background-color: #27737f;
    z-index: 1;
    padding: 0;
    border-radius: 4px;
    border-top-right-radius: 0;
    box-shadow: none;
    li {
        float: none;
        margin-left: 0;
    }
    a {
        background-color: transparent;
        color: #fff;
        &:hover,
        &:focus,
        &:active {
            background-color: darken(#27737f, 5%);
            outline: none;
        }
    }
    .nav-pills > li.active > a {
        background-color: transparent;
        color: #fff;
        &:hover,
        &:focus,
        &:active {
            background-color: darken(#27737f, 5%);
            outline: none;
        }
    }
}

main:focus {
    outline: none;
}
