<% provide(:title, "Users") %>

<div class="table-responsive">
  <table class="table">
    <thead>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Posts</th>
      <th scope="col">IP address</th>
      <th scope="col">Sign in count</th>
      <th scope="col">Last signed in at</th>
    </thead>
    <tbody>
      <%= render users %>
    </tbody>
  </table>
</div>
