<% provide(:title, "Users") %>

<div class="table-responsive">
  <table class="table">
    <thead>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </thead>
    <tbody>
      <%= render users %>
    </tbody>
  </table>
</div>
<%= link_to "Add user", new_user_invitation_path %>
